{
    "openapi": "3.0.0",
    "servers": [
      {
        "url": "https://docs.googleapis.com/"
      }
    ],
    "info": {
      "contact": {
        "name": "Google",
        "url": "https://google.com"
      },
      "description": "Reads and writes Google Docs documents.",
      "license": {
        "name": "Creative Commons Attribution 3.0",
        "url": "http://creativecommons.org/licenses/by/3.0/"
      },
      "termsOfService": "https://developers.google.com/terms/",
      "title": "Google Docs",
      "version": "v1",
      "x-apiClientRegistration": {
        "url": "https://console.developers.google.com"
      },
      "x-logo": {
        "url": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
      },
      "x-origin": [
        {
          "converter": {
            "url": "https://github.com/lucybot/api-spec-converter",
            "version": "2.7.31"
          },
          "format": "google",
          "url": "https://docs.googleapis.com/$discovery/rest?version=v1",
          "version": "v1"
        }
      ],
      "x-preferred": true,
      "x-providerName": "googleapis.com",
      "x-serviceName": "docs"
    },
    "externalDocs": {
      "url": "https://developers.google.com/docs/"
    },
    "tags": [
      {
        "name": "documents"
      }
    ],
    "paths": {
      "/v1/documents": {
        "parameters": [
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/_.xgafv"
          },
          {
            "$ref": "#/components/parameters/alt"
          }
        ],
        "post": {
          "description": "Creates a blank document using the title given in the request. Other fields\nin the request, including any provided content, are ignored.\n\nReturns the created document.",
          "operationId": "docs.documents.create",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              },
              "description": "Successful response"
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/documents"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/documents"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/drive"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/drive"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/drive.file"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/drive.file"
              ]
            }
          ],
          "tags": [
            "documents"
          ]
        }
      },
      "/v1/documents/{documentId}": {
        "get": {
          "description": "Gets the latest version of the specified document.",
          "operationId": "docs.documents.get",
          "parameters": [
            {
              "description": "The ID of the document to retrieve.",
              "in": "path",
              "name": "documentId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "description": "The suggestions view mode to apply to the document. This allows viewing the\ndocument with all suggestions inline, accepted or rejected. If one is not\nspecified, DEFAULT_FOR_CURRENT_ACCESS is\nused.",
              "in": "query",
              "name": "suggestionsViewMode",
              "schema": {
                "enum": [
                  "DEFAULT_FOR_CURRENT_ACCESS",
                  "SUGGESTIONS_INLINE",
                  "PREVIEW_SUGGESTIONS_ACCEPTED",
                  "PREVIEW_WITHOUT_SUGGESTIONS"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              },
              "description": "Successful response"
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/documents"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/documents"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/documents.readonly"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/documents.readonly"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/drive"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/drive"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/drive.file"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/drive.file"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/drive.readonly"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/drive.readonly"
              ]
            }
          ],
          "tags": [
            "documents"
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/_.xgafv"
          },
          {
            "$ref": "#/components/parameters/alt"
          }
        ]
      },
      "/v1/documents/{documentId}:batchUpdate": {
        "parameters": [
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "$ref": "#/components/parameters/upload_protocol"
          },
          {
            "$ref": "#/components/parameters/quotaUser"
          },
          {
            "$ref": "#/components/parameters/prettyPrint"
          },
          {
            "$ref": "#/components/parameters/uploadType"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/oauth_token"
          },
          {
            "$ref": "#/components/parameters/_.xgafv"
          },
          {
            "$ref": "#/components/parameters/alt"
          }
        ],
        "post": {
          "description": "Applies one or more updates to the document.\n\nEach request is validated before\nbeing applied. If any request is not valid, then the entire request will\nfail and nothing will be applied.\n\nSome requests have replies to\ngive you some information about how they are applied. Other requests do\nnot need to return information; these each return an empty reply.\nThe order of replies matches that of the requests.\n\nFor example, suppose you call batchUpdate with four updates, and only the\nthird one returns information. The response would have two empty replies,\nthe reply to the third request, and another empty reply, in that order.\n\nBecause other users may be editing the document, the document\nmight not exactly reflect your changes: your changes may\nbe altered with respect to collaborator changes. If there are no\ncollaborators, the document should reflect your changes. In any case,\nthe updates in your request are guaranteed to be applied together\natomically.",
          "operationId": "docs.documents.batchUpdate",
          "parameters": [
            {
              "description": "The ID of the document to update.",
              "in": "path",
              "name": "documentId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateDocumentRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/BatchUpdateDocumentResponse"
                  }
                }
              },
              "description": "Successful response"
            }
          },
          "security": [
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/documents"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/documents"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/drive"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/drive"
              ]
            },
            {
              "Oauth2": [
                "https://www.googleapis.com/auth/drive.file"
              ],
              "Oauth2c": [
                "https://www.googleapis.com/auth/drive.file"
              ]
            }
          ],
          "tags": [
            "documents"
          ]
        }
      }
    },
    "components": {
      "parameters": {
        "_.xgafv": {
          "description": "V1 error format.",
          "in": "query",
          "name": "$.xgafv",
          "schema": {
            "enum": [
              "1",
              "2"
            ],
            "type": "string"
          }
        },
        "access_token": {
          "description": "OAuth access token.",
          "in": "query",
          "name": "access_token",
          "schema": {
            "type": "string"
          }
        },
        "alt": {
          "description": "Data format for response.",
          "in": "query",
          "name": "alt",
          "schema": {
            "default": "json",
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string"
          }
        },
        "callback": {
          "description": "JSONP",
          "in": "query",
          "name": "callback",
          "schema": {
            "type": "string"
          }
        },
        "fields": {
          "description": "Selector specifying which fields to include in a partial response.",
          "in": "query",
          "name": "fields",
          "schema": {
            "type": "string"
          }
        },
        "key": {
          "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
          "in": "query",
          "name": "key",
          "schema": {
            "type": "string"
          }
        },
        "oauth_token": {
          "description": "OAuth 2.0 token for the current user.",
          "in": "query",
          "name": "oauth_token",
          "schema": {
            "type": "string"
          }
        },
        "prettyPrint": {
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "prettyPrint",
          "schema": {
            "default": true,
            "type": "boolean"
          }
        },
        "quotaUser": {
          "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
          "in": "query",
          "name": "quotaUser",
          "schema": {
            "type": "string"
          }
        },
        "uploadType": {
          "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
          "in": "query",
          "name": "uploadType",
          "schema": {
            "type": "string"
          }
        },
        "upload_protocol": {
          "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
          "in": "query",
          "name": "upload_protocol",
          "schema": {
            "type": "string"
          }
        }
      },
      "schemas": {
        "AutoText": {
          "description": "A ParagraphElement representing a\nspot in the text that is dynamically replaced with content that can change\nover time, like a page number.",
          "properties": {
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInsertionIds": {
              "description": "The suggested insertion IDs. An AutoText\nmay have multiple insertion IDs if it is a nested suggested change. If\nempty, then this is not a suggested insertion.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedTextStyleChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedTextStyle"
              },
              "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
              "type": "object"
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The text style of this AutoText."
            },
            "type": {
              "description": "The type of this auto text.",
              "enum": [
                "TYPE_UNSPECIFIED",
                "PAGE_NUMBER",
                "PAGE_COUNT"
              ],
              "type": "string"
            }
          },
          "type": "object"
        },
        "Background": {
          "description": "Represents the background of a document.",
          "properties": {
            "color": {
              "$ref": "#/components/schemas/OptionalColor",
              "description": "The background color."
            }
          },
          "type": "object"
        },
        "BackgroundSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion.\nFor any field set to true, the Backgound has a new suggested value.",
          "properties": {
            "backgroundColorSuggested": {
              "description": "Indicates whether the current background color has been modified in this\nsuggestion.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "BatchUpdateDocumentRequest": {
          "description": "Request message for BatchUpdateDocument.",
          "properties": {
            "requests": {
              "description": "A list of updates to apply to the document.",
              "items": {
                "$ref": "#/components/schemas/Request"
              },
              "type": "array"
            },
            "writeControl": {
              "$ref": "#/components/schemas/WriteControl",
              "description": "Provides control over how write requests are executed."
            }
          },
          "type": "object"
        },
        "BatchUpdateDocumentResponse": {
          "description": "Response message from a BatchUpdateDocument request.",
          "properties": {
            "documentId": {
              "description": "The ID of the document to which the updates were applied to.",
              "type": "string"
            },
            "replies": {
              "description": "The reply of the updates. This maps 1:1 with the updates, although replies\nto some requests may be empty.",
              "items": {
                "$ref": "#/components/schemas/Response"
              },
              "type": "array"
            },
            "writeControl": {
              "$ref": "#/components/schemas/WriteControl",
              "description": "The updated write control after applying the request."
            }
          },
          "type": "object"
        },
        "Body": {
          "description": "The document body.\n\nThe body typically contains the full document contents except for\nheaders, footers\nand footnotes.",
          "properties": {
            "content": {
              "description": "The contents of the body.\n\nThe indexes for the body's content begin at zero.",
              "items": {
                "$ref": "#/components/schemas/StructuralElement"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "Bullet": {
          "description": "Describes the bullet of a paragraph.",
          "properties": {
            "listId": {
              "description": "The ID of the list this paragraph belongs to.",
              "type": "string"
            },
            "nestingLevel": {
              "description": "The nesting level of this paragraph in the list.",
              "format": "int32",
              "type": "integer"
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The paragraph specific text style applied to this bullet."
            }
          },
          "type": "object"
        },
        "BulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base\nBullet have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
          "properties": {
            "listIdSuggested": {
              "description": "Indicates if there was a suggested change to the\nlist_id.",
              "type": "boolean"
            },
            "nestingLevelSuggested": {
              "description": "Indicates if there was a suggested change to the\nnesting_level.",
              "type": "boolean"
            },
            "textStyleSuggestionState": {
              "$ref": "#/components/schemas/TextStyleSuggestionState",
              "description": "A mask that indicates which of the fields in text style have been changed in this\nsuggestion."
            }
          },
          "type": "object"
        },
        "Color": {
          "description": "A solid color.",
          "properties": {
            "rgbColor": {
              "$ref": "#/components/schemas/RgbColor",
              "description": "The RGB color value."
            }
          },
          "type": "object"
        },
        "ColumnBreak": {
          "description": "A ParagraphElement representing a\ncolumn break. A column break makes the subsequent text start at the top of\nthe next column.",
          "properties": {
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInsertionIds": {
              "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it is\na nested suggested change. If empty, then this is not a suggested\ninsertion.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedTextStyleChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedTextStyle"
              },
              "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion\nID.",
              "type": "object"
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The text style of this ColumnBreak.\n\nSimilar to text content, like text runs and footnote references, the text\nstyle of a column break can affect content layout as well as the styling of\ntext inserted adjacent to it."
            }
          },
          "type": "object"
        },
        "CreateFooterRequest": {
          "description": "Creates a Footer. The new footer is applied to\nthe SectionStyle at the location of the\nSectionBreak if specificed, otherwise\nit is applied to the DocumentStyle.\n\nIf a footer of the specified type already exists, a 400 bad request error\nis returned.",
          "properties": {
            "sectionBreakLocation": {
              "$ref": "#/components/schemas/Location",
              "description": "The location of the SectionBreak\nimmediately preceding the section whose SectionStyle this footer should belong to. If this is\nunset or refers to the first section break in the document, the footer\napplies to the document style."
            },
            "type": {
              "description": "The type of footer to create.",
              "enum": [
                "HEADER_FOOTER_TYPE_UNSPECIFIED",
                "DEFAULT"
              ],
              "type": "string"
            }
          },
          "type": "object"
        },
        "CreateFooterResponse": {
          "description": "The result of creating a footer.",
          "properties": {
            "footerId": {
              "description": "The ID of the created footer.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "CreateFootnoteRequest": {
          "description": "Creates a Footnote segment\nand inserts a new FootnoteReference\nto it at the given location.\n\nThe new Footnote segment will contain a\nspace followed by a newline character.",
          "properties": {
            "endOfSegmentLocation": {
              "$ref": "#/components/schemas/EndOfSegmentLocation",
              "description": "Inserts the footnote reference at the end of the document body.\n\nFootnote references cannot be inserted inside a header, footer or\nfootnote. Since footnote references can only be inserted in the body, the\nsegment ID field\nmust be empty."
            },
            "location": {
              "$ref": "#/components/schemas/Location",
              "description": "Inserts the footnote reference at a specific index in the document.\n\nThe footnote reference must be inserted inside the bounds of an existing\nParagraph. For instance, it cannot be\ninserted at a table's start index (i.e. between the table and its\npreceding paragraph).\n\nFootnote references cannot be inserted inside an equation,\nheader, footer or footnote. Since footnote references can only be\ninserted in the body, the segment ID field must be empty."
            }
          },
          "type": "object"
        },
        "CreateFootnoteResponse": {
          "description": "The result of creating a footnote.",
          "properties": {
            "footnoteId": {
              "description": "The ID of the created footnote.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "CreateHeaderRequest": {
          "description": "Creates a Header. The new header is applied to\nthe SectionStyle at the location of the\nSectionBreak if specificed, otherwise\nit is applied to the DocumentStyle.\n\nIf a header of the specified type already exists, a 400 bad request error\nis returned.",
          "properties": {
            "sectionBreakLocation": {
              "$ref": "#/components/schemas/Location",
              "description": "The location of the SectionBreak\nwhich begins the section this header should belong to. If\n`section_break_location' is unset or if it refers to the first section\nbreak in the document body, the header applies to the\nDocumentStyle"
            },
            "type": {
              "description": "The type of header to create.",
              "enum": [
                "HEADER_FOOTER_TYPE_UNSPECIFIED",
                "DEFAULT"
              ],
              "type": "string"
            }
          },
          "type": "object"
        },
        "CreateHeaderResponse": {
          "description": "The result of creating a header.",
          "properties": {
            "headerId": {
              "description": "The ID of the created header.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "CreateNamedRangeRequest": {
          "description": "Creates a NamedRange referencing the given\nrange.",
          "properties": {
            "name": {
              "description": "The name of the NamedRange. Names do not need to be unique.\n\nNames must be at least 1 character and no more than 256 characters,\nmeasured in UTF-16 code units.",
              "type": "string"
            },
            "range": {
              "$ref": "#/components/schemas/Range",
              "description": "The range to apply the name to."
            }
          },
          "type": "object"
        },
        "CreateNamedRangeResponse": {
          "description": "The result of creating a named range.",
          "properties": {
            "namedRangeId": {
              "description": "The ID of the created named range.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "CreateParagraphBulletsRequest": {
          "description": "Creates bullets for all of the paragraphs that overlap with the given range.\n\nThe nesting level of each paragraph will be determined by counting leading\ntabs in front of each paragraph. To avoid excess space between the bullet and\nthe corresponding paragraph, these leading tabs are removed by this request.\nThis may change the indices of parts of the text.\n\nIf the paragraph immediately before paragraphs being updated is in a list\nwith a matching preset, the paragraphs being updated are added to that\npreceding list.",
          "properties": {
            "bulletPreset": {
              "description": "The kinds of bullet glyphs to be used.",
              "enum": [
                "BULLET_GLYPH_PRESET_UNSPECIFIED",
                "BULLET_DISC_CIRCLE_SQUARE",
                "BULLET_DIAMONDX_ARROW3D_SQUARE",
                "BULLET_CHECKBOX",
                "BULLET_ARROW_DIAMOND_DISC",
                "BULLET_STAR_CIRCLE_SQUARE",
                "BULLET_ARROW3D_CIRCLE_SQUARE",
                "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
                "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
                "BULLET_DIAMOND_CIRCLE_SQUARE",
                "NUMBERED_DECIMAL_ALPHA_ROMAN",
                "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
                "NUMBERED_DECIMAL_NESTED",
                "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
                "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
                "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
              ],
              "type": "string"
            },
            "range": {
              "$ref": "#/components/schemas/Range",
              "description": "The range to apply the bullet preset to."
            }
          },
          "type": "object"
        },
        "CropProperties": {
          "description": "The crop properties of an image.\n\nThe crop rectangle is represented using fractional offsets from the original\ncontent's four edges.\n\n- If the offset is in the interval (0, 1), the corresponding edge of crop\nrectangle is positioned inside of the image's original bounding rectangle.\n- If the offset is negative or greater than 1, the corresponding edge of crop\nrectangle is positioned outside of the image's original bounding rectangle.\n- If all offsets and rotation angle are 0, the image is not cropped.",
          "properties": {
            "angle": {
              "description": "The clockwise rotation angle of the crop rectangle around its center, in\nradians. Rotation is applied after the offsets.",
              "format": "float",
              "type": "number"
            },
            "offsetBottom": {
              "description": "The offset specifies how far inwards the bottom edge of the crop rectangle\nis from the bottom edge of the original content as a fraction of the\noriginal content's height.",
              "format": "float",
              "type": "number"
            },
            "offsetLeft": {
              "description": "The offset specifies how far inwards the left edge of the crop rectangle is\nfrom the left edge of the original content as a fraction of the original\ncontent's width.",
              "format": "float",
              "type": "number"
            },
            "offsetRight": {
              "description": "The offset specifies how far inwards the right edge of the crop rectangle\nis from the right edge of the original content as a fraction of the\noriginal content's width.",
              "format": "float",
              "type": "number"
            },
            "offsetTop": {
              "description": "The offset specifies how far inwards the top edge of the crop rectangle is\nfrom the top edge of the original content as a fraction of the original\ncontent's height.",
              "format": "float",
              "type": "number"
            }
          },
          "type": "object"
        },
        "CropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
          "properties": {
            "angleSuggested": {
              "description": "Indicates if there was a suggested change to angle.",
              "type": "boolean"
            },
            "offsetBottomSuggested": {
              "description": "Indicates if there was a suggested change to offset_bottom.",
              "type": "boolean"
            },
            "offsetLeftSuggested": {
              "description": "Indicates if there was a suggested change to offset_left.",
              "type": "boolean"
            },
            "offsetRightSuggested": {
              "description": "Indicates if there was a suggested change to offset_right.",
              "type": "boolean"
            },
            "offsetTopSuggested": {
              "description": "Indicates if there was a suggested change to offset_top.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "DeleteContentRangeRequest": {
          "description": "Deletes content from the document.",
          "properties": {
            "range": {
              "$ref": "#/components/schemas/Range",
              "description": "The range of content to delete.\n\nDeleting text that crosses a paragraph boundary may result in changes\nto paragraph styles, lists, positioned objects and bookmarks as the two\nparagraphs are merged.\n\nAttempting to delete certain ranges can result in an invalid document\nstructure in which case a 400 bad request error is returned.\n\nSome examples of invalid delete requests include:\n\n* Deleting one code unit of a surrogate pair.\n* Deleting the last newline character of a Body, Header,\n  Footer, Footnote, TableCell or TableOfContents.\n* Deleting the start or end of a Table,\n  TableOfContents or Equation without deleting the entire element.\n* Deleting the newline character before a\n  Table,\n  TableOfContents or\n  SectionBreak without deleting the\n  element.\n* Deleting individual rows or cells of a table. Deleting the content within\n  a table cell is allowed."
            }
          },
          "type": "object"
        },
        "DeleteFooterRequest": {
          "description": "Deletes a Footer from the document.",
          "properties": {
            "footerId": {
              "description": "The id of the footer to delete. If this footer is defined on\nDocumentStyle, the reference to\nthis footer is removed, resulting in no footer of that type for\nthe first section of the document. If this footer is defined on a\nSectionStyle, the reference to this\nfooter is removed and the footer of that type is now continued from\nthe previous section.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "DeleteHeaderRequest": {
          "description": "Deletes a Header from the document.",
          "properties": {
            "headerId": {
              "description": "The id of the header to delete. If this header is defined on\nDocumentStyle, the reference to\nthis header is removed, resulting in no header of that type for\nthe first section of the document. If this header is defined on a\nSectionStyle, the reference to this\nheader is removed and the header of that type is now continued from\nthe previous section.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "DeleteNamedRangeRequest": {
          "description": "Deletes a NamedRange.",
          "properties": {
            "name": {
              "description": "The name of the range(s) to delete. All named ranges with the given\nname will be deleted.",
              "type": "string"
            },
            "namedRangeId": {
              "description": "The ID of the named range to delete.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "DeleteParagraphBulletsRequest": {
          "description": "Deletes bullets from all of the paragraphs that overlap with the given range.\n\nThe nesting level of each paragraph will be visually preserved by adding\nindent to the start of the corresponding paragraph.",
          "properties": {
            "range": {
              "$ref": "#/components/schemas/Range",
              "description": "The range to delete bullets from."
            }
          },
          "type": "object"
        },
        "DeletePositionedObjectRequest": {
          "description": "Deletes a PositionedObject from the\ndocument.",
          "properties": {
            "objectId": {
              "description": "The ID of the positioned object to delete.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "DeleteTableColumnRequest": {
          "description": "Deletes a column from a table.",
          "properties": {
            "tableCellLocation": {
              "$ref": "#/components/schemas/TableCellLocation",
              "description": "The reference table cell location from which the column will be deleted.\n\nThe column this cell spans will be deleted. If this is a merged cell that\nspans multiple columns, all columns that the cell spans will be deleted. If\nno columns remain in the table after this deletion, the whole table is\ndeleted."
            }
          },
          "type": "object"
        },
        "DeleteTableRowRequest": {
          "description": "Deletes a row from a table.",
          "properties": {
            "tableCellLocation": {
              "$ref": "#/components/schemas/TableCellLocation",
              "description": "The reference table cell location from which the row will be deleted.\n\nThe row this cell spans will be deleted. If this is a merged cell that\nspans multiple rows, all rows that the cell spans will be deleted. If no\nrows remain in the table after this deletion, the whole table is deleted."
            }
          },
          "type": "object"
        },
        "Dimension": {
          "description": "A magnitude in a single direction in the specified units.",
          "properties": {
            "magnitude": {
              "description": "The magnitude.",
              "format": "double",
              "type": "number"
            },
            "unit": {
              "description": "The units for magnitude.",
              "enum": [
                "UNIT_UNSPECIFIED",
                "PT"
              ],
              "type": "string"
            }
          },
          "type": "object"
        },
        "Document": {
          "description": "A Google Docs document.",
          "properties": {
            "body": {
              "$ref": "#/components/schemas/Body",
              "description": "Output only. The main body of the document."
            },
            "documentId": {
              "description": "Output only. The ID of the document.",
              "type": "string"
            },
            "documentStyle": {
              "$ref": "#/components/schemas/DocumentStyle",
              "description": "Output only. The style of the document."
            },
            "footers": {
              "additionalProperties": {
                "$ref": "#/components/schemas/Footer"
              },
              "description": "Output only. The footers in the document, keyed by footer ID.",
              "type": "object"
            },
            "footnotes": {
              "additionalProperties": {
                "$ref": "#/components/schemas/Footnote"
              },
              "description": "Output only. The footnotes in the document, keyed by footnote ID.",
              "type": "object"
            },
            "headers": {
              "additionalProperties": {
                "$ref": "#/components/schemas/Header"
              },
              "description": "Output only. The headers in the document, keyed by header ID.",
              "type": "object"
            },
            "inlineObjects": {
              "additionalProperties": {
                "$ref": "#/components/schemas/InlineObject"
              },
              "description": "Output only. The inline objects in the document, keyed by object ID.",
              "type": "object"
            },
            "lists": {
              "additionalProperties": {
                "$ref": "#/components/schemas/List"
              },
              "description": "Output only. The lists in the document, keyed by list ID.",
              "type": "object"
            },
            "namedRanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/NamedRanges"
              },
              "description": "Output only. The named ranges in the document, keyed by name.",
              "type": "object"
            },
            "namedStyles": {
              "$ref": "#/components/schemas/NamedStyles",
              "description": "Output only. The named styles of the document."
            },
            "positionedObjects": {
              "additionalProperties": {
                "$ref": "#/components/schemas/PositionedObject"
              },
              "description": "Output only. The positioned objects in the document, keyed by object ID.",
              "type": "object"
            },
            "revisionId": {
              "description": "Output only. The revision ID of the document. Can be used in update\nrequests to specify which revision of a document to apply updates to and\nhow the request should behave if the document has been edited since that\nrevision. Only populated if the user has edit access to the document.\n\nThe format of the revision ID may change over time, so it should be treated\nopaquely. A returned revision ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot be shared across users. If the\nrevision ID is unchanged between calls, then the document has not changed.\nConversely, a changed ID (for the same document and user) usually means the\ndocument has been updated; however, a changed ID can also be due to\ninternal factors such as ID format changes.",
              "type": "string"
            },
            "suggestedDocumentStyleChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedDocumentStyle"
              },
              "description": "Output only. The suggested changes to the style of the document, keyed by\nsuggestion ID.",
              "type": "object"
            },
            "suggestedNamedStylesChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedNamedStyles"
              },
              "description": "Output only. The suggested changes to the named styles of the document,\nkeyed by suggestion ID.",
              "type": "object"
            },
            "suggestionsViewMode": {
              "description": "Output only. The suggestions view mode applied to the document.\n\nNote: When editing a document, changes must be based on a document with\nSUGGESTIONS_INLINE.",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "type": "string"
            },
            "title": {
              "description": "The title of the document.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "DocumentStyle": {
          "description": "The style of the document.",
          "properties": {
            "background": {
              "$ref": "#/components/schemas/Background",
              "description": "The background of the document. Documents cannot have a transparent\nbackground color."
            },
            "defaultFooterId": {
              "description": "The ID of the default footer. If not set, there is no default footer.\n\nThis property is read-only.",
              "type": "string"
            },
            "defaultHeaderId": {
              "description": "The ID of the default header. If not set, there is no default header.\n\nThis property is read-only.",
              "type": "string"
            },
            "evenPageFooterId": {
              "description": "The ID of the footer used only for even pages. The value of\nuse_even_page_header_footer determines\nwhether to use the default_footer_id or this value for the\nfooter on even pages. If not set, there is no even page footer.\n\nThis property is read-only.",
              "type": "string"
            },
            "evenPageHeaderId": {
              "description": "The ID of the header used only for even pages. The value of\nuse_even_page_header_footer determines\nwhether to use the default_header_id or this value for the\nheader on even pages. If not set, there is no even page header.\n\nThis property is read-only.",
              "type": "string"
            },
            "firstPageFooterId": {
              "description": "The ID of the footer used only for the first page. If not set then\na unique footer for the first page does not exist. The value of\nuse_first_page_header_footer determines\nwhether to use the default_footer_id or this value for the\nfooter on the first page. If not set, there is no first page footer.\n\nThis property is read-only.",
              "type": "string"
            },
            "firstPageHeaderId": {
              "description": "The ID of the header used only for the first page. If not set then\na unique header for the first page does not exist.\nThe value of use_first_page_header_footer determines\nwhether to use the default_header_id or this value for the\nheader on the first page. If not set, there is no first page header.\n\nThis property is read-only.",
              "type": "string"
            },
            "marginBottom": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The bottom page margin.\n\nUpdating the bottom page margin on the document style clears the bottom\npage margin on all section styles."
            },
            "marginFooter": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The amount of space between the bottom of the page and the contents of the\nfooter."
            },
            "marginHeader": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The amount of space between the top of the page and the contents of the\nheader."
            },
            "marginLeft": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The left page margin.\n\nUpdating the left page margin on the document style clears the left page\nmargin on all section styles. It may also cause columns to resize in all\nsections."
            },
            "marginRight": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The right page margin.\n\nUpdating the right page margin on the document style clears the right page\nmargin on all section styles. It may also cause columns to resize in all\nsections."
            },
            "marginTop": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The top page margin.\n\nUpdating the top page margin on the document style clears the top page\nmargin on all section styles."
            },
            "pageNumberStart": {
              "description": "The page number from which to start counting the number of pages.",
              "format": "int32",
              "type": "integer"
            },
            "pageSize": {
              "$ref": "#/components/schemas/Size",
              "description": "The size of a page in the document."
            },
            "useCustomHeaderFooterMargins": {
              "description": "Indicates whether DocumentStyle\nmargin_header,\nSectionStyle\nmargin_header and\nDocumentStyle\nmargin_footer,\nSectionStyle\nmargin_footer are\nrespected. When false, the default values in the Docs editor for header and\nfooter margin are used.\n\nThis property is read-only.",
              "type": "boolean"
            },
            "useEvenPageHeaderFooter": {
              "description": "Indicates whether to use the even page header / footer IDs for the even\npages.",
              "type": "boolean"
            },
            "useFirstPageHeaderFooter": {
              "description": "Indicates whether to use the first page header / footer IDs for the first\npage.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "DocumentStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
          "properties": {
            "backgroundSuggestionState": {
              "$ref": "#/components/schemas/BackgroundSuggestionState",
              "description": "A mask that indicates which of the fields in background have been changed in this\nsuggestion."
            },
            "defaultFooterIdSuggested": {
              "description": "Indicates if there was a suggested change to default_footer_id.",
              "type": "boolean"
            },
            "defaultHeaderIdSuggested": {
              "description": "Indicates if there was a suggested change to default_header_id.",
              "type": "boolean"
            },
            "evenPageFooterIdSuggested": {
              "description": "Indicates if there was a suggested change to even_page_footer_id.",
              "type": "boolean"
            },
            "evenPageHeaderIdSuggested": {
              "description": "Indicates if there was a suggested change to even_page_header_id.",
              "type": "boolean"
            },
            "firstPageFooterIdSuggested": {
              "description": "Indicates if there was a suggested change to first_page_footer_id.",
              "type": "boolean"
            },
            "firstPageHeaderIdSuggested": {
              "description": "Indicates if there was a suggested change to first_page_header_id.",
              "type": "boolean"
            },
            "marginBottomSuggested": {
              "description": "Indicates if there was a suggested change to margin_bottom.",
              "type": "boolean"
            },
            "marginFooterSuggested": {
              "description": "Indicates if there was a suggested change to margin_footer.",
              "type": "boolean"
            },
            "marginHeaderSuggested": {
              "description": "Indicates if there was a suggested change to margin_header.",
              "type": "boolean"
            },
            "marginLeftSuggested": {
              "description": "Indicates if there was a suggested change to margin_left.",
              "type": "boolean"
            },
            "marginRightSuggested": {
              "description": "Indicates if there was a suggested change to margin_right.",
              "type": "boolean"
            },
            "marginTopSuggested": {
              "description": "Indicates if there was a suggested change to margin_top.",
              "type": "boolean"
            },
            "pageNumberStartSuggested": {
              "description": "Indicates if there was a suggested change to page_number_start.",
              "type": "boolean"
            },
            "pageSizeSuggestionState": {
              "$ref": "#/components/schemas/SizeSuggestionState",
              "description": "A mask that indicates which of the fields in size have been changed in this\nsuggestion."
            },
            "useCustomHeaderFooterMarginsSuggested": {
              "description": "Indicates if there was a suggested change to\nuse_custom_header_footer_margins.",
              "type": "boolean"
            },
            "useEvenPageHeaderFooterSuggested": {
              "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
              "type": "boolean"
            },
            "useFirstPageHeaderFooterSuggested": {
              "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "EmbeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "properties": {},
          "type": "object"
        },
        "EmbeddedDrawingPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base\nEmbeddedDrawingProperties\nhave been changed in this suggestion. For any field set to true, there is a\nnew suggested value.",
          "properties": {},
          "type": "object"
        },
        "EmbeddedObject": {
          "description": "An embedded object in the document.",
          "properties": {
            "description": {
              "description": "The description of the embedded object. The `title` and `description` are\nboth combined to display alt text.",
              "type": "string"
            },
            "embeddedDrawingProperties": {
              "$ref": "#/components/schemas/EmbeddedDrawingProperties",
              "description": "The properties of an embedded drawing."
            },
            "embeddedObjectBorder": {
              "$ref": "#/components/schemas/EmbeddedObjectBorder",
              "description": "The border of the embedded object."
            },
            "imageProperties": {
              "$ref": "#/components/schemas/ImageProperties",
              "description": "The properties of an image."
            },
            "linkedContentReference": {
              "$ref": "#/components/schemas/LinkedContentReference",
              "description": "A reference to the external linked source content. For example, it contains\na reference to the source Sheets chart when the embedded object is a linked\nchart.\n\nIf unset, then the embedded object is not linked."
            },
            "marginBottom": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The bottom margin of the embedded object."
            },
            "marginLeft": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The left margin of the embedded object."
            },
            "marginRight": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The right margin of the embedded object."
            },
            "marginTop": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The top margin of the embedded object."
            },
            "size": {
              "$ref": "#/components/schemas/Size",
              "description": "The visible size of the image after cropping."
            },
            "title": {
              "description": "The title of the embedded object. The `title` and `description` are both\ncombined to display alt text.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "EmbeddedObjectBorder": {
          "description": "A border around an EmbeddedObject.",
          "properties": {
            "color": {
              "$ref": "#/components/schemas/OptionalColor",
              "description": "The color of the border."
            },
            "dashStyle": {
              "description": "The dash style of the border.",
              "enum": [
                "DASH_STYLE_UNSPECIFIED",
                "SOLID",
                "DOT",
                "DASH"
              ],
              "type": "string"
            },
            "propertyState": {
              "description": "The property state of the border property.",
              "enum": [
                "RENDERED",
                "NOT_RENDERED"
              ],
              "type": "string"
            },
            "width": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The width of the border."
            }
          },
          "type": "object"
        },
        "EmbeddedObjectBorderSuggestionState": {
          "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this\nsuggestion. For any field set to true, there is a new suggested value.",
          "properties": {
            "colorSuggested": {
              "description": "Indicates if there was a suggested change to color.",
              "type": "boolean"
            },
            "dashStyleSuggested": {
              "description": "Indicates if there was a suggested change to dash_style.",
              "type": "boolean"
            },
            "propertyStateSuggested": {
              "description": "Indicates if there was a suggested change to property_state.",
              "type": "boolean"
            },
            "widthSuggested": {
              "description": "Indicates if there was a suggested change to width.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "EmbeddedObjectSuggestionState": {
          "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
          "properties": {
            "descriptionSuggested": {
              "description": "Indicates if there was a suggested change to description.",
              "type": "boolean"
            },
            "embeddedDrawingPropertiesSuggestionState": {
              "$ref": "#/components/schemas/EmbeddedDrawingPropertiesSuggestionState",
              "description": "A mask that indicates which of the fields in embedded_drawing_properties have been\nchanged in this suggestion."
            },
            "embeddedObjectBorderSuggestionState": {
              "$ref": "#/components/schemas/EmbeddedObjectBorderSuggestionState",
              "description": "A mask that indicates which of the fields in embedded_object_border have been\nchanged in this suggestion."
            },
            "imagePropertiesSuggestionState": {
              "$ref": "#/components/schemas/ImagePropertiesSuggestionState",
              "description": "A mask that indicates which of the fields in image_properties have been changed in\nthis suggestion."
            },
            "linkedContentReferenceSuggestionState": {
              "$ref": "#/components/schemas/LinkedContentReferenceSuggestionState",
              "description": "A mask that indicates which of the fields in linked_content_reference have been\nchanged in this suggestion."
            },
            "marginBottomSuggested": {
              "description": "Indicates if there was a suggested change to margin_bottom.",
              "type": "boolean"
            },
            "marginLeftSuggested": {
              "description": "Indicates if there was a suggested change to margin_left.",
              "type": "boolean"
            },
            "marginRightSuggested": {
              "description": "Indicates if there was a suggested change to margin_right.",
              "type": "boolean"
            },
            "marginTopSuggested": {
              "description": "Indicates if there was a suggested change to margin_top.",
              "type": "boolean"
            },
            "sizeSuggestionState": {
              "$ref": "#/components/schemas/SizeSuggestionState",
              "description": "A mask that indicates which of the fields in size have been changed in this\nsuggestion."
            },
            "titleSuggested": {
              "description": "Indicates if there was a suggested change to title.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "EndOfSegmentLocation": {
          "description": "Location at the end of a body, header, footer or footnote. The location is\nimmediately before the last newline in the document segment.",
          "properties": {
            "segmentId": {
              "description": "The ID of the header, footer or footnote the location is in. An empty\nsegment ID signifies the document's body.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "Equation": {
          "description": "A ParagraphElement representing an\nequation.",
          "properties": {
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInsertionIds": {
              "description": "The suggested insertion IDs. A Equation\nmay have multiple insertion IDs if it is a nested suggested change. If\nempty, then this is not a suggested insertion.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "Footer": {
          "description": "A document footer.",
          "properties": {
            "content": {
              "description": "The contents of the footer.\n\nThe indexes for a footer's content begin at zero.",
              "items": {
                "$ref": "#/components/schemas/StructuralElement"
              },
              "type": "array"
            },
            "footerId": {
              "description": "The ID of the footer.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "Footnote": {
          "description": "A document footnote.",
          "properties": {
            "content": {
              "description": "The contents of the footnote.\n\nThe indexes for a footnote's content begin at zero.",
              "items": {
                "$ref": "#/components/schemas/StructuralElement"
              },
              "type": "array"
            },
            "footnoteId": {
              "description": "The ID of the footnote.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "FootnoteReference": {
          "description": "A ParagraphElement representing a\nfootnote reference. A footnote reference is the inline content rendered with\na number and is used to identify the footnote.",
          "properties": {
            "footnoteId": {
              "description": "The ID of the footnote that\ncontains the content of this footnote reference.",
              "type": "string"
            },
            "footnoteNumber": {
              "description": "The rendered number of this footnote.",
              "type": "string"
            },
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInsertionIds": {
              "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if\nit is a nested suggested change. If empty, then this is not a suggested\ninsertion.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedTextStyleChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedTextStyle"
              },
              "description": "The suggested text style changes to this FootnoteReference, keyed by\nsuggestion ID.",
              "type": "object"
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The text style of this FootnoteReference."
            }
          },
          "type": "object"
        },
        "Header": {
          "description": "A document header.",
          "properties": {
            "content": {
              "description": "The contents of the header.\n\nThe indexes for a header's content begin at zero.",
              "items": {
                "$ref": "#/components/schemas/StructuralElement"
              },
              "type": "array"
            },
            "headerId": {
              "description": "The ID of the header.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "HorizontalRule": {
          "description": "A ParagraphElement representing a\nhorizontal line.",
          "properties": {
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInsertionIds": {
              "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it\nis a nested suggested change. If empty, then this is not a suggested\ninsertion.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedTextStyleChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedTextStyle"
              },
              "description": "The suggested text style changes to this HorizontalRule, keyed by\nsuggestion ID.",
              "type": "object"
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The text style of this HorizontalRule.\n\nSimilar to text content, like text runs and footnote references, the text\nstyle of a horizontal rule can affect content layout as well as the styling\nof text inserted adjacent to it."
            }
          },
          "type": "object"
        },
        "ImageProperties": {
          "description": "The properties of an image.",
          "properties": {
            "angle": {
              "description": "The clockwise rotation angle of the image, in radians.",
              "format": "float",
              "type": "number"
            },
            "brightness": {
              "description": "The brightness effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect.",
              "format": "float",
              "type": "number"
            },
            "contentUri": {
              "description": "A URI to the image with a default lifetime of 30 minutes.\nThis URI is tagged with the account of the requester. Anyone with the URI\neffectively accesses the image as the original requester. Access to the\nimage may be lost if the document's sharing settings change.",
              "type": "string"
            },
            "contrast": {
              "description": "The contrast effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect.",
              "format": "float",
              "type": "number"
            },
            "cropProperties": {
              "$ref": "#/components/schemas/CropProperties",
              "description": "The crop properties of the image."
            },
            "sourceUri": {
              "description": "The source URI is the URI used to insert the image. The source URI can be\nempty.",
              "type": "string"
            },
            "transparency": {
              "description": "The transparency effect of the image. The value should be in the interval\n[0.0, 1.0], where 0 means no effect and 1 means completely transparent.",
              "format": "float",
              "type": "number"
            }
          },
          "type": "object"
        },
        "ImagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
          "properties": {
            "angleSuggested": {
              "description": "Indicates if there was a suggested change to angle.",
              "type": "boolean"
            },
            "brightnessSuggested": {
              "description": "Indicates if there was a suggested change to brightness.",
              "type": "boolean"
            },
            "contentUriSuggested": {
              "description": "Indicates if there was a suggested change to\ncontent_uri.",
              "type": "boolean"
            },
            "contrastSuggested": {
              "description": "Indicates if there was a suggested change to contrast.",
              "type": "boolean"
            },
            "cropPropertiesSuggestionState": {
              "$ref": "#/components/schemas/CropPropertiesSuggestionState",
              "description": "A mask that indicates which of the fields in crop_properties have been changed in\nthis suggestion."
            },
            "sourceUriSuggested": {
              "description": "Indicates if there was a suggested change to source_uri.",
              "type": "boolean"
            },
            "transparencySuggested": {
              "description": "Indicates if there was a suggested change to transparency.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "InlineObject": {
          "description": "An object that appears inline with text. An InlineObject contains\nan EmbeddedObject such as an image.",
          "properties": {
            "inlineObjectProperties": {
              "$ref": "#/components/schemas/InlineObjectProperties",
              "description": "The properties of this inline object."
            },
            "objectId": {
              "description": "The ID of this inline object.",
              "type": "string"
            },
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInlineObjectPropertiesChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedInlineObjectProperties"
              },
              "description": "The suggested changes to the inline object properties, keyed by suggestion\nID.",
              "type": "object"
            },
            "suggestedInsertionId": {
              "description": "The suggested insertion ID. If empty, then this is not a suggested\ninsertion.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "InlineObjectElement": {
          "description": "A ParagraphElement that contains\nan InlineObject.",
          "properties": {
            "inlineObjectId": {
              "description": "The ID of the InlineObject this\nelement contains.",
              "type": "string"
            },
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this content.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInsertionIds": {
              "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs\nif it is a nested suggested change. If empty, then this is not a suggested\ninsertion.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedTextStyleChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedTextStyle"
              },
              "description": "The suggested text style changes to this InlineObject, keyed by suggestion\nID.",
              "type": "object"
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The text style of this InlineObjectElement.\n\nSimilar to text content, like text runs and footnote references, the text\nstyle of an inline object element can affect content layout as well as the\nstyling of text inserted adjacent to it."
            }
          },
          "type": "object"
        },
        "InlineObjectProperties": {
          "description": "Properties of an InlineObject.",
          "properties": {
            "embeddedObject": {
              "$ref": "#/components/schemas/EmbeddedObject",
              "description": "The embedded object of this inline object."
            }
          },
          "type": "object"
        },
        "InlineObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base\nInlineObjectProperties have\nbeen changed in this suggestion. For any field set to true, there is a new\nsuggested value.",
          "properties": {
            "embeddedObjectSuggestionState": {
              "$ref": "#/components/schemas/EmbeddedObjectSuggestionState",
              "description": "A mask that indicates which of the fields in embedded_object have been\nchanged in this suggestion."
            }
          },
          "type": "object"
        },
        "InsertInlineImageRequest": {
          "description": "Inserts an InlineObject containing an\nimage at the given location.",
          "properties": {
            "endOfSegmentLocation": {
              "$ref": "#/components/schemas/EndOfSegmentLocation",
              "description": "Inserts the text at the end of a header, footer or the document body.\n\nInline images cannot be inserted inside a footnote."
            },
            "location": {
              "$ref": "#/components/schemas/Location",
              "description": "Inserts the image at a specific index in the document.\n\nThe image must be inserted inside the bounds of an existing\nParagraph. For instance, it cannot be\ninserted at a table's start index (i.e. between the table and its\npreceding paragraph).\n\nInline images cannot be inserted inside a footnote or equation."
            },
            "objectSize": {
              "$ref": "#/components/schemas/Size",
              "description": "The size that the image should appear as in the document. This property is\noptional and the final size of the image in the document is determined by\nthe following rules:\n * If neither width nor height is specified, then a default size of the\n image is calculated based on its resolution.\n * If one dimension is specified then the other dimension is calculated to\n preserve the aspect ratio of the image.\n * If both width and height are specified, the image is scaled to fit\n within the provided dimensions while maintaining its aspect ratio."
            },
            "uri": {
              "description": "The image URI.\n\nThe image is fetched once at insertion time and a copy is stored for\ndisplay inside the document. Images must be less than 50MB in size, cannot\nexceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format.\n\nThe provided URI can be at most 2 kB in length. The URI itself is saved\nwith the image, and exposed via the ImageProperties.content_uri field.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "InsertInlineImageResponse": {
          "description": "The result of inserting an inline image.",
          "properties": {
            "objectId": {
              "description": "The ID of the created InlineObject.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "InsertInlineSheetsChartResponse": {
          "description": "The result of inserting an embedded Google Sheets chart.",
          "properties": {
            "objectId": {
              "description": "The object ID of the inserted chart.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "InsertPageBreakRequest": {
          "description": "Inserts a page break followed by a newline at the specified location.",
          "properties": {
            "endOfSegmentLocation": {
              "$ref": "#/components/schemas/EndOfSegmentLocation",
              "description": "Inserts the page break at the end of the document body.\n\nPage breaks cannot be inserted inside a footnote, header or footer.\nSince page breaks can only be inserted inside the body, the segment ID field must be\nempty."
            },
            "location": {
              "$ref": "#/components/schemas/Location",
              "description": "Inserts the page break at a specific index in the document.\n\nThe page break must be inserted inside the bounds of an existing\nParagraph. For instance, it cannot be\ninserted at a table's start index (i.e. between the table and its\npreceding paragraph).\n\nPage breaks cannot be inserted inside a table, equation, footnote, header\nor footer. Since page breaks can only be inserted inside the body, the\nsegment ID field must be\nempty."
            }
          },
          "type": "object"
        },
        "InsertSectionBreakRequest": {
          "description": "Inserts a section break at the given location.\n\nA newline character will be inserted before the section break.",
          "properties": {
            "endOfSegmentLocation": {
              "$ref": "#/components/schemas/EndOfSegmentLocation",
              "description": "Inserts a newline and a section break at the end of the document body.\n\nSection breaks cannot be inserted inside a footnote, header or footer.\nBecause section breaks can only be inserted inside the body, the segment\nID field must be\nempty."
            },
            "location": {
              "$ref": "#/components/schemas/Location",
              "description": "Inserts a newline and a section break at a specific index in the\ndocument.\n\nThe section break must be inserted inside the bounds of an existing\nParagraph. For instance, it cannot be\ninserted at a table's start index (i.e. between the table and its\npreceding paragraph).\n\nSection breaks cannot be inserted inside a table, equation, footnote,\nheader, or footer. Since section breaks can only be inserted inside the\nbody, the segment ID field\nmust be empty."
            },
            "sectionType": {
              "description": "The type of section to insert.",
              "enum": [
                "SECTION_TYPE_UNSPECIFIED",
                "CONTINUOUS",
                "NEXT_PAGE"
              ],
              "type": "string"
            }
          },
          "type": "object"
        },
        "InsertTableColumnRequest": {
          "description": "Inserts an empty column into a table.",
          "properties": {
            "insertRight": {
              "description": "Whether to insert new column to the right of the reference cell location.\n\n- `True`: insert to the right.\n- `False`: insert to the left.",
              "type": "boolean"
            },
            "tableCellLocation": {
              "$ref": "#/components/schemas/TableCellLocation",
              "description": "The reference table cell location from which columns will be inserted.\n\nA new column will be inserted to the left (or right) of the column where\nthe reference cell is. If the reference cell is a merged cell, a new\ncolumn will be inserted to the left (or right) of the merged cell."
            }
          },
          "type": "object"
        },
        "InsertTableRequest": {
          "description": "Inserts a table at the specified location.\n\nA newline character will be inserted before the inserted table.",
          "properties": {
            "columns": {
              "description": "The number of columns in the table.",
              "format": "int32",
              "type": "integer"
            },
            "endOfSegmentLocation": {
              "$ref": "#/components/schemas/EndOfSegmentLocation",
              "description": "Inserts the table at the end of the given header, footer or document\nbody. A newline character will be inserted before the inserted table.\n\nTables cannot be inserted inside a footnote."
            },
            "location": {
              "$ref": "#/components/schemas/Location",
              "description": "Inserts the table at a specific model index.\n\nA newline character will be inserted before the inserted table, therefore\nthe table start index will be at the specified location index + 1.\n\nThe table must be inserted inside the bounds of an existing\nParagraph. For instance, it cannot be\ninserted at a table's start index (i.e. between an existing table and its\npreceding paragraph).\n\nTables cannot be inserted inside a footnote or equation."
            },
            "rows": {
              "description": "The number of rows in the table.",
              "format": "int32",
              "type": "integer"
            }
          },
          "type": "object"
        },
        "InsertTableRowRequest": {
          "description": "Inserts an empty row into a table.",
          "properties": {
            "insertBelow": {
              "description": "Whether to insert new row below the reference cell location.\n\n- `True`: insert below the cell.\n- `False`: insert above the cell.",
              "type": "boolean"
            },
            "tableCellLocation": {
              "$ref": "#/components/schemas/TableCellLocation",
              "description": "The reference table cell location from which rows will be inserted.\n\nA new row will be inserted above (or below) the row where the reference\ncell is. If the reference cell is a merged cell, a new row will be\ninserted above (or below) the merged cell."
            }
          },
          "type": "object"
        },
        "InsertTextRequest": {
          "description": "Inserts text at the specified location.",
          "properties": {
            "endOfSegmentLocation": {
              "$ref": "#/components/schemas/EndOfSegmentLocation",
              "description": "Inserts the text at the end of a header, footer, footnote or\nthe document body."
            },
            "location": {
              "$ref": "#/components/schemas/Location",
              "description": "Inserts the text at a specific index in the document.\n\nText must be inserted inside the bounds of an existing\nParagraph. For instance, text cannot be\ninserted at a table's start index (i.e. between the table and its\npreceding paragraph). The text must be inserted in the preceding\nparagraph."
            },
            "text": {
              "description": "The text to be inserted.\n\nInserting a newline character will implicitly create a new\nParagraph at that index.\nThe paragraph style of the new paragraph will be copied from the paragraph\nat the current insertion index, including lists and bullets.\n\nText styles for inserted text will be determined automatically, generally\npreserving the styling of neighboring text. In most cases, the text style\nfor the inserted text will match the text immediately before the insertion\nindex.\n\nSome control characters (U+0000-U+0008, U+000C-U+001F) and characters\nfrom the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF)\nwill be stripped out of the inserted text.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "Link": {
          "description": "A reference to another portion of a document or an external URL resource.",
          "properties": {
            "bookmarkId": {
              "description": "The ID of a bookmark in this document.",
              "type": "string"
            },
            "headingId": {
              "description": "The ID of a heading in this document.",
              "type": "string"
            },
            "url": {
              "description": "An external URL.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "LinkedContentReference": {
          "description": "A reference to the external linked source content.",
          "properties": {
            "sheetsChartReference": {
              "$ref": "#/components/schemas/SheetsChartReference",
              "description": "A reference to the linked chart."
            }
          },
          "type": "object"
        },
        "LinkedContentReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields on the base\nLinkedContentReference have\nbeen changed in this suggestion. For any field set to true, there is a new\nsuggested value.",
          "properties": {
            "sheetsChartReferenceSuggestionState": {
              "$ref": "#/components/schemas/SheetsChartReferenceSuggestionState",
              "description": "A mask that indicates which of the fields in sheets_chart_reference have\nbeen changed in this suggestion."
            }
          },
          "type": "object"
        },
        "List": {
          "description": "A List represents the list attributes for a group of paragraphs that all\nbelong to the same list. A paragraph that is part of a list has a reference\nto the list's ID in its bullet.",
          "properties": {
            "listProperties": {
              "$ref": "#/components/schemas/ListProperties",
              "description": "The properties of the list."
            },
            "suggestedDeletionIds": {
              "description": "The suggested deletion IDs. If empty, then there are no suggested deletions\nof this list.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "suggestedInsertionId": {
              "description": "The suggested insertion ID. If empty, then this is not a suggested\ninsertion.",
              "type": "string"
            },
            "suggestedListPropertiesChanges": {
              "additionalProperties": {
                "$ref": "#/components/schemas/SuggestedListProperties"
              },
              "description": "The suggested changes to the list properties, keyed by suggestion\nID.",
              "type": "object"
            }
          },
          "type": "object"
        },
        "ListProperties": {
          "description": "The properties of a list which describe the look\nand feel of bullets belonging to paragraphs associated with a list.",
          "properties": {
            "nestingLevels": {
              "description": "Describes the properties of the bullets at the associated level.\n\nA list has at most nine levels of nesting with nesting level 0\ncorresponding to the top-most level and nesting level 8 corresponding to\nthe most nested level. The nesting levels are returned in ascending order\nwith the least nested returned first.",
              "items": {
                "$ref": "#/components/schemas/NestingLevel"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "ListPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.\nFor any field set to true, there is a new suggested value.",
          "properties": {
            "nestingLevelsSuggestionStates": {
              "description": "A mask that indicates which of the fields on the corresponding\nNestingLevel in nesting_levels have been changed in\nthis suggestion.\n\nThe nesting level suggestion states are returned in ascending order of the\nnesting level with the least nested returned first.",
              "items": {
                "$ref": "#/components/schemas/NestingLevelSuggestionState"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "Location": {
          "description": "A particular location in the document.",
          "properties": {
            "index": {
              "description": "The zero-based index, in UTF-16 code units.\n\nThe index is relative to the beginning of the segment specified by\nsegment_id.",
              "format": "int32",
              "type": "integer"
            },
            "segmentId": {
              "description": "The ID of the header, footer or footnote the location is in. An empty\nsegment ID signifies the document's body.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "MergeTableCellsRequest": {
          "description": "Merges cells in a Table.",
          "properties": {
            "tableRange": {
              "$ref": "#/components/schemas/TableRange",
              "description": "The table range specifying which cells of the table to merge.\n\nAny text in the cells being merged will be concatenated and stored in the\n\"head\" cell of the range. This is the upper-left cell of the range when\nthe content direction is left to right, and the upper-right cell of the\nrange otherwise.\n\nIf the range is non-rectangular (which can occur in some cases where the\nrange covers cells that are already merged or where the table is\nnon-rectangular), a 400 bad request error is returned."
            }
          },
          "type": "object"
        },
        "NamedRange": {
          "description": "A collection of Ranges with the same named range\nID.\n\nNamed ranges allow developers to associate parts of a document with an\narbitrary user-defined label so their contents can be programmatically read\nor edited at a later time. A document can contain multiple named ranges with\nthe same name, but every named range has a unique ID.\n\nA named range is created with a single Range,\nand content inserted inside a named range generally expands that range.\nHowever, certain document changes can cause the range to be split into\nmultiple ranges.\n\nNamed ranges are not private. All applications and collaborators that have\naccess to the document can see its named ranges.",
          "properties": {
            "name": {
              "description": "The name of the named range.",
              "type": "string"
            },
            "namedRangeId": {
              "description": "The ID of the named range.",
              "type": "string"
            },
            "ranges": {
              "description": "The ranges that belong to this named range.",
              "items": {
                "$ref": "#/components/schemas/Range"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "NamedRanges": {
          "description": "A collection of all the NamedRanges in the\ndocument that share a given name.",
          "properties": {
            "name": {
              "description": "The name that all the named ranges share.",
              "type": "string"
            },
            "namedRanges": {
              "description": "The NamedRanges that share the same name.",
              "items": {
                "$ref": "#/components/schemas/NamedRange"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "NamedStyle": {
          "description": "A named style. Paragraphs in the document can inherit their\nTextStyle and\nParagraphStyle from this named style\nwhen they have the same named style type.",
          "properties": {
            "namedStyleType": {
              "description": "The type of this named style.",
              "enum": [
                "NAMED_STYLE_TYPE_UNSPECIFIED",
                "NORMAL_TEXT",
                "TITLE",
                "SUBTITLE",
                "HEADING_1",
                "HEADING_2",
                "HEADING_3",
                "HEADING_4",
                "HEADING_5",
                "HEADING_6"
              ],
              "type": "string"
            },
            "paragraphStyle": {
              "$ref": "#/components/schemas/ParagraphStyle",
              "description": "The paragraph style of this named style."
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The text style of this named style."
            }
          },
          "type": "object"
        },
        "NamedStyleSuggestionState": {
          "description": "A suggestion state of a NamedStyle message.",
          "properties": {
            "namedStyleType": {
              "description": "The named style type that this suggestion state corresponds to.\n\nThis field is provided as a convenience for matching the\nNamedStyleSuggestionState with its corresponding NamedStyle.",
              "enum": [
                "NAMED_STYLE_TYPE_UNSPECIFIED",
                "NORMAL_TEXT",
                "TITLE",
                "SUBTITLE",
                "HEADING_1",
                "HEADING_2",
                "HEADING_3",
                "HEADING_4",
                "HEADING_5",
                "HEADING_6"
              ],
              "type": "string"
            },
            "paragraphStyleSuggestionState": {
              "$ref": "#/components/schemas/ParagraphStyleSuggestionState",
              "description": "A mask that indicates which of the fields in paragraph style have been changed in this\nsuggestion."
            },
            "textStyleSuggestionState": {
              "$ref": "#/components/schemas/TextStyleSuggestionState",
              "description": "A mask that indicates which of the fields in text style have been changed in this\nsuggestion."
            }
          },
          "type": "object"
        },
        "NamedStyles": {
          "description": "The named styles. Paragraphs in the document can inherit their\nTextStyle and\nParagraphStyle from these named styles.",
          "properties": {
            "styles": {
              "description": "The named styles.\n\nThere is an entry for each of the possible named style types.",
              "items": {
                "$ref": "#/components/schemas/NamedStyle"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "NamedStylesSuggestionState": {
          "description": "The suggestion state of a NamedStyles\nmessage.",
          "properties": {
            "stylesSuggestionStates": {
              "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this\nsuggestion.\n\nThe order of these named style suggestion states match the order of the\ncorresponding named style within the named styles suggestion.",
              "items": {
                "$ref": "#/components/schemas/NamedStyleSuggestionState"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "NestingLevel": {
          "description": "Contains properties describing the look and feel of a list bullet at a given\nlevel of nesting.",
          "properties": {
            "bulletAlignment": {
              "description": "The alignment of the bullet within the space allotted for rendering the\nbullet.",
              "enum": [
                "BULLET_ALIGNMENT_UNSPECIFIED",
                "START",
                "CENTER",
                "END"
              ],
              "type": "string"
            },
            "glyphFormat": {
              "description": "The format string used by bullets at this level of nesting.\n\nThe glyph format contains one or more placeholders, and these placeholder\nare replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow\nthe pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes\nand suffixes. Thus, the glyph format follows the pattern\n`<prefix>%[nesting_level]<suffix>`. Note that the prefix and suffix are\noptional and can be arbitrary strings.\n\nFor example, the glyph format `%0.` indicates that the rendered glyph will\nreplace the placeholder with the corresponding glyph for nesting level 0\nfollowed by a period as the suffix. So a list with a glyph type of\nUPPER_ALPHA and\nglyph format `%0.` at nesting level 0 will result in a list with rendered\nglyphs\n<p>`A.`\n<p>`B.`\n<p>`C.`\n\nThe glyph format can contain placeholders for the current nesting level as\nwell as placeholders for parent nesting levels. For example, a\nlist can have a glyph format of `%0.` at nesting level 0 and a\nglyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels\nhave DECIMAL glyph\ntypes, this would result in a list with rendered glyphs\n<p>`1.`\n<p>`2.`\n<p>`  2.1.`\n<p>`  2.2.`\n<p>`3.`\n\nFor nesting levels that are ordered, the string that replaces a placeholder\nin the glyph format for a particular paragraph depends on the paragraph's\norder within the list.",
              "type": "string"
            },
            "glyphSymbol": {
              "description": "A custom glyph symbol used by bullets when paragraphs at this level of\nnesting are unordered.\n\nThe glyph symbol replaces placeholders within the glyph_format. For example, if the\nglyph_symbol is the solid circle corresponding to Unicode U+25cf code\npoint and the glyph_format is `%0`, the rendered\nglyph would be the solid circle.",
              "type": "string"
            },
            "glyphType": {
              "description": "The type of glyph used by bullets when paragraphs at this level of\nnesting are ordered.\n\nThe glyph type determines the type of glyph used to replace placeholders\nwithin the glyph_format\nwhen paragraphs at this level of nesting are ordered. For example, if the\nnesting level is 0, the glyph_format is `%0.` and the glyph\ntype is DECIMAL,\nthen the rendered glyph would replace the placeholder `%0` in the glyph\nformat with a number corresponding to list item's order within the list.",
              "enum": [
                "GLYPH_TYPE_UNSPECIFIED",
                "NONE",
                "DECIMAL",
                "ZERO_DECIMAL",
                "UPPER_ALPHA",
                "ALPHA",
                "UPPER_ROMAN",
                "ROMAN"
              ],
              "type": "string"
            },
            "indentFirstLine": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The amount of indentation for the first line of paragraphs at this level of\nnesting."
            },
            "indentStart": {
              "$ref": "#/components/schemas/Dimension",
              "description": "The amount of indentation for paragraphs at this level of nesting. Applied\nto the side that corresponds to the start of the text, based on the\nparagraph's content direction."
            },
            "startNumber": {
              "description": "The number of the first list item at this nesting level.\n\nA value of 0 is treated as a value of 1 for lettered lists and roman\nnumeraled lists, i.e. for values of both 0 and 1, lettered and roman\nnumeraled lists will begin at `a` and `i` respectively.\n\nThis value is ignored for nesting levels with unordered glyphs.",
              "format": "int32",
              "type": "integer"
            },
            "textStyle": {
              "$ref": "#/components/schemas/TextStyle",
              "description": "The text style of bullets at this level of nesting."
            }
          },
          "type": "object"
        },
        "NestingLevelSuggestionState": {
[...]
