{
    "name": "{{method}} {{{path}}}",
    "id": "{{{id}}}",
    "appliesTo": [
        "bpmn:CallActivity"
    ],
    "properties": [
        {
            "label": "Name",
            "type": "Hidden",
            "value": "{{method}} {{{path}}}",
            "editable": false,
            "binding": {
                "type": "property",
                "name": "name"
            }
        },
        {
            "label": "CalledElement",
            "type": "Hidden",
            "value": "{{calledElement}}",
            "editable": false,
            "binding": {
                "type": "property",
                "name": "calledElement"
            }
        },
        {
            "label": "Method",
            "type": "Hidden",
            "value": "{{method}}",
            "editable": false,
            "binding": {
                "type": "camunda:in",
                "target": "method",
                "expression": true
            }
        },
        {
            "label": "url",
            "type": "Hidden",
            "value": "{{{urlExpression}}}",
            "editable": false,
            "binding": {
                "type": "camunda:in",
                "target": "url",
                "expression": true
            }
        }
        {{#pathParams}}
        ,{
            "label": "Path parameter: {{name}}",
            "type": "String",
            "description": {{{description}}},
            "value": null,
            "binding": {
                "type": "camunda:inputParameter",
                "name": "pp_{{name}}"
            }
        }
        {{/pathParams}}{{#contentType}}
        ,{
            "label": "Content-Type",
            "type": "Hidden",
            "value": "{{{contentType}}}",
            "binding": {
                "type": "camunda:in",
                "target": "pre SET headers String $['Content-Type']",
                "expression": true
            }
        }
        {{/contentType}}{{#contentJson}}
        ,{
            "label": "JSON Content to merge",
            "type": "String",
            "description": {{{description}}},
            "value": "{{{value}}}",
            "binding": {
                "type": "camunda:inputParameter",
                "name": "content"
            }
        }
        ,{
            "label": "Content",
            "type": "Hidden",
            "value": "content",
            "binding": {
                "type": "camunda:in",
                "target": "request"
            }
        }
        {{/contentJson}}{{#contentParams}}
        ,{
            "label": "JSON Content field: {{name}}",
            "type": "String",
            "description": {{{description}}},
            "value": null,
            "binding": {
                "type": "camunda:inputParameter",
                "name": "cp_{{name}}"
            }
        }
        ,{
            "label": "Content",
            "type": "Hidden",
            "value": "cp_{{name}}",
            "binding": {
                "type": "camunda:in",
                "target": "pre SET request {{type}} $['{{{name}}}']"
            }
        }
        {{/contentParams}}{{#responseParams}}
        ,{
            "label": "JSON response binding: {{{name}}}",
            "type": "String",
            "description": {{{description}}},
            "value": "{{{name}}}",
            "binding": {
                "type": "camunda:outputParameter",
                "source": "${ res_{{{name}}} }"
            }
        }
        ,{
            "label": "JSON response",
            "type": "Hidden",
            "value": "res_{{name}}",
            "binding": {
                "type": "camunda:in",
                "target": "post EXTRACT response {{type}} $['{{{name}}}']",
                "expression": true
            }
        }
        ,{
            "label": "{{{name}}}",
            "type": "Hidden",
            "value": "res_{{{name}}}",
            "binding": {
                "type": "camunda:out",
                "source": "res_{{{name}}}"
            }
        }
        {{/responseParams}}
        ,{
            "label": "Full JSON response binding",
            "type": "String",
            "description": "What process variable to assign the full response to",
            "value": "response",
            "binding": {
                "type": "camunda:outputParameter",
                "source": "${ response }"
            }
        }
        ,{
            "label": "response variable",
            "type": "Hidden",
            "value": "response",
            "binding": {
                "type": "camunda:out",
                "source": "response"
            }
        }{{#queryParams}}
        ,{
            "label": "Query parameter: {{name}}",
            "type": "String",
            "description": {{{description}}},
            "value": null,
            "binding": {
                "type": "camunda:inputParameter",
                "name": "qp_{{name}}"
            }
        }
        ,{
            "label": "{{name}}",
            "type": "Hidden",
            "value": "qp_{{name}}",
            "binding": {
                "type": "camunda:in",
                "target": "pre SET query {{type}} $['{{{name}}}']"
            }
        }
        {{/queryParams}}{{#formDataParams}}
        ,{
            "label": "FormData parameter: {{name}}",
            "type": "String",
            "description": {{{description}}},
            "value": null,
            "binding": {
                "type": "camunda:inputParameter",
                "name": "fp_{{name}}"
            }
        }
        ,{
            "label": "{{name}}",
            "type": "Hidden",
            "value": "fp_{{name}}",
            "binding": {
                "type": "camunda:in",
                "target": "fp_{{name}}"
            }
        }
        {{/formDataParams}}{{#headerParams}}
        ,{
            "label": "Header: {{name}}",
            "type": "String",
            "description": {{{description}}},
            "value": null,
            "binding": {
                "type": "camunda:inputParameter",
                "name": "hp_{{name}}"
            }
        }
        ,{
            "label": "{{name}}",
            "type": "Hidden",
            "value": "hp_{{name}}",
            "binding": {
                "type": "camunda:in",
                "target": "pre SET headers {{type}} $['{{{name}}}']"
            }
        }
        {{/headerParams}}
        ,{
            "label": "Authorization: Bearer",
            "type": "String",
            "description": "Standard header field",
            "value": null,
            "binding": {
                "type": "camunda:inputParameter",
                "name": "hp_Authorization"
            }
        }
        ,{
            "label": "Authorization: Bearer",
            "type": "Hidden",
            "value": "Bearer ${hp_Authorization}",
            "binding": {
                "type": "camunda:in",
                "target": "pre SET headers String $['Authorization']",
                "expression": true
            }
        }
    ]
}